@mixin buttons {
  $size: 46px;
  $icon-size: 20px;
  $transition: ease 0.25s;
  
  %circle-button {
    width: $size;
    height: $size;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform $transition, box-shadow $transition, background-color $transition;
    flex-shrink: 0;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
      background-color: color(primary, 01);
    }
  }
  
  .button {
    margin: 0;
    padding: 0;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
  
    &.primary {
      height: $size;
      padding: 0 30px 2px 30px;
      border-radius: $size / 2;
      background-color: color(secondary, 01);
      color: color(light, 01);
      line-height: 1.05;
      font-weight: 600;
      font-size: 16px;
      transition: background-color $transition;
      overflow: hidden;

      &:after {
        content: '';
        width: 0;
        height: 100%;
        background-color: color(primary, 01);
        display: block;
        position: absolute;
        top: 0;
        left: -10px;
        overflow: hidden;
        transition: width $transition;
        z-index: 0;
      }

      .label {
        position: relative;
        z-index: 1;
      }

      &:hover {
        &:after {
          width: 110%;
        }
      }
    }
  
    &.jump {
      @extend %circle-button;
      background-color: transparent;
      color: color(light, 01);
      border: 1px solid rgba(color(light, 01), 0.5);
      
      &:hover {
        background-color: color(light, 01);
        color: color(primary, 01);
        transform: scale(1.1);
      }
    }
  
    &.explore {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      transition: transform $transition;
  
      &:before {
        @extend %circle-button;
        background-color: color(secondary, 01);
        color: color(light, 01);
      }
  
      span.label {
        margin-left: 16px;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: color(gray, 01);
        letter-spacing: 1px;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  
    // Icon
    &:before {
      font-size: $icon-size;
    }
  }
}

@include buttons();