@import '~normalize.css';

@import "core/mixins";
@import "core/breakpoints";
@import "core/colors";

html,
body {
  margin: 0;
}

.browserupgrade {
  margin: 0.2em 0;
  background: color(light, 01);
  color: color(dark, 01);
  padding: 0.2em 0;
}

body {
  background: color(light, 01);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: color(dark, 01);
  position: relative;
}

.root {
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
}

header {
  width: 100%;
  height: 100%;
  background-color: color(primary, 01);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;

  .primary-logo {
    width: 40%;
    display: inline-block;

    svg {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  @include breakpoint(desktop) {
    width: 50%;

    .primary-logo {
      width: 55%;
    }
  }
}