$colors: (
  primary: (
    01: #29109C
  ),
  secondary: (
    01: #FF6746
  ),
  dark: (
    01: #000,
    02: #333
  ),
  gray: (
    01: #4F4F4F,
    02: #828282
  ),
  warning: (
    01: #DF2525
  ),
  light: (
    01: #fff,
    02: #F6F6F6
  )
);