{% extends "layouts/default.njk" %}

{% block content %}
  <main id="main">
    <section class="splash" id="splash">
      <span class="logo">
        {% include 'images/svg/harwin-signs-logo--primary.svg' %}
      </span>
      <a class="button jump icon-chevron-down" href="#intro" data-animate></a>
    </section>

    <section class="intro" id="intro">
      <div class="overview">
        <span class="eyebrow" data-animate>Welcome</span>
        <h3 data-animate>Need a<br>Beautiful Sign?</h3>
        <h4 data-animate>We're Your One-Stop Signage Solution</h4>
        <a class="button primary" href="#who-we-are" data-animate><span class="label">Learn More</span></a>
      </div>
      <div class="artboard" data-animate>
        {% include 'images/svg/signs-art.svg' %}
      </div>
    </section>

    <section class="who-we-are" id="who-we-are">
      <div class="artboard" data-animate>
        {% include 'images/svg/designers-engineers-art.svg' %}
      </div>
      <div class="overview">
        <span class="eyebrow" data-animate>Who We Are</span>
        <h3 data-animate>We Are<br>Craftsmen</h3>
        <p data-animate>When it comes to quality work that distiguishes the pros from the amateurs, team spirit and collaboration matters more than individual talent alone. At Harwin Signs, we are a team of craftsmen, designers, and engineers. We work in harmony to deliver the best results possible.</p>
        <a class="button explore icon-chevron-down" href="#what-we-do" data-animate>
          <span class="label">Explore</span>
        </a>
      </div>
    </section>

    <section class="what-we-do" id="what-we-do">
      <div class="container">
        <div class="overview">
          <span class="eyebrow" data-animate>What We Do</span>
          <h3 data-animate>Dress to Impress</h3>
          <p data-animate>Your business image matters. Research shows that first impressions are formed in as little as 33 milliseconds. Making a good first impression will contribute as a deciding factor to whether a new customer will to shop with you, or elsewhere.</p>
          <p data-animate>We are here to help you make that first moment count, which is why we offer a full array of solutions to turn every new opportunity into a potential customer.</p>
        </div>
        <div class="artboard" data-animate>
          {% include 'images/svg/dress-to-impress-art.svg' %}
        </div>
      </div>
      <ul class="services-list">
        <li data-animate>
          <div class="service">
            <span class="artwork" data-animate>{% include 'images/svg/signboard.svg' %}</span>
            <h4 data-animate>Signs</h4>
            <p data-animate>A big beautiful sign will help your customers find you, but it will also make you standout from the rest of your competitors. We hand-build each sign down to the finest details — whether is a lightbox, channel letters, or halo lit letters.</p>
          </div>
        </li>
        <li data-animate>
          <div class="service">
            <span class="artwork" data-animate>{% include 'images/svg/printing.svg' %}</span>
            <h4 data-animate>Prints</h4>
            <p data-animate>Creativity often comes with intricate details that can only be reproduced using digital prints. Using all available printing solutions in the industry, we are able to deliver up to 1200 DPI prints of up to 5ft wide, on banners, vinyls, acrylics, and textiles - our prints are immersive.</p>
          </div>
        </li>
        <li data-animate>
          <div class="service">
            <span class="artwork" data-animate>{% include 'images/svg/sticker.svg' %}</span>
            <h4 data-animate>Vinyls</h4>
            <p data-animate>When it comes to displaying a message on any smooth surface, nothing is more effective than vinyl art and lettering. Vinyl graphics looks great whether is for your storefront or that taco truck that you've been thinking about.</p>
          </div>
        </li>
      </ul>
      <div class="footer">
        <a href="#work-with-us" class="button primary" data-animate><span class="label">Get In Touch</span></a>
      </div>
    </section>

    <section class="work-with-us" id="work-with-us">
      <div class="overview">
        <span class="eyebrow" data-animate>Work With Us</span>
        <h3 data-animate>We Are<br>Your Partners</h3>
        <h4 data-animate>Your Success is Our Success</h4>
        <p data-animate>We're here to help you. Please tell us a bit about yourself and your project, and a representative will be in touch with you within 24 hours.</p>
        <span class="artwork" data-animate>{% include 'images/svg/your-partner-art.svg' %}</span>
      </div>
      <form action="#" id="form" data-animate>
        <div class="form-fields">
          <h4>Get a Free Estimate</h4>
          <input type="text" name="company" placeholder="Company">
          <input type="text" name="name" placeholder="Name" id="name">
          <input type="text" name="phone" placeholder="Phone Number">
          <input type="text" name="email" placeholder="Email" id="email">
          <select name="heardfrom">
            <option value="" disabled selected hidden>How did you hear about us?</option>
            <option value="Facebook">Facebook</option>
            <option value="Twitter">Twitter</option>
            <option value="Instagram">Instagram</option>
            <option value="Google">Google</option>
            <option value="Truck Ad">Truck Ad</option>
            <option value="Word of Mouth">Word of Mouth</option>
            <option value="Other">Other</option>
          </select>
          <fieldset>
            <label for="details">Tell us a bit about your project:</label>
            <textarea name="details" id="details"></textarea>
          </fieldset>
          <button class="button primary" type="submit" data-animate><span class="label">Send Message</span></button>
        </div>
        <div class="thank-you" aria-hidden>
          <span class="artwork" data-animate>
            {% include 'images/svg/thank-you.svg' %}
          </span>
          <h5 data-animate>Your Message has Been Sent</h5>
          <p data-animate>Thank you for submitting your information. A Harwin Signs representative will be in touch with you within 24 to 48 hours.</p>
          <button class="button primary js--back-to-form" data-animate><span class="label">Back</span></button>
        </div>
        <p class="disclaimer" data-animate>We value and respect your privacy. Your information is yours. Therefore, we will not share your information with anyone, nor will it be used to spam you with marketing materials.</p>
      </form>
    </section>
  </main>
  <footer>
    <span class="footer-logo" data-animate>
      {% include 'images/svg/logo-square.svg' %}
    </span>
    <div class="contact-info">
      <a class="tel" href="tel:817 382 8282" data-animate>817.382.8282</a>
      <address data-animate>9966 Harwin Dr, Houston, TX 77036</address>
    </div>
    <p class="copyright" data-animate>Copyright 2020 &copy; Harwin Signs, LLC</p>
  </footer>
{% endblock %}