{% extends "layouts/default.njk" %}

{% block content %}
  <header>
    <span class="primary-logo">
      {% include 'images/svg/harwin-signs-logo--primary.svg' %}
    </span>
    <a class="button circle" href="#main">
      {% include 'images/svg/chevron-down.svg' %}
    </a>
  </header>
  <main id="main">
    <div class="hero" role="image" arial-label="Come Back Later Illustration Art"></div>

    <article class="coming-soon">
      <span class="eyebrow">Stay Tuned</span>
      <h2>We’re Lauching Soon</h2>
      <p>We are a one-stop signage shop located in Houston, Texas on Harwin Drive.</p>
      <p>Our website is currently under construction. For more information, or to request a free quote and consultation, please contact us:</p>
      <p>
        <a href="tel:+1 (817) 382 8282">+1 (817) 382 8282</a><br>
        <a href="mailto:hello@harwinsigns.com">hello@harwinsigns.com</a>
      </p>
    </article>

    <footer>
      <p class="copyright">Copyright 2020 © Harwin Signs, LLC</p>
    </footer>
  </main>
{% endblock %}