{% extends "layouts/default.njk" %}

{% block content %}
  <header>
    <span class="primary-logo">
      {% include 'images/svg/harwin-signs-logo--primary.svg' %}
    </span>
  </header>
{% endblock %}