<!doctype html>
<html class="no-js sr" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="We're a one stop signage shop. You have a business, we have the signs.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Harwin Signs</title>
    <meta property="og:title" content="Harwin Signs - You have a Business, We have the Signs">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.harwinsigns.com">
    <meta property="og:description" content="We're a One-Stop Signage Shop based in Houston, Texas.">
    <meta property="og:image" content="https://www.harwinsigns.com/images/og/harwinsigns-og.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,600,700,800&display=swap" rel="stylesheet">
    <!-- Place favicon.ico in the root directory -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/modernizr.js -->
    <script src="scripts/modernizr.js"></script>
    <!-- endbuild -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T8769S8');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8769S8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="root">
        <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block content %}{% endblock %}
    </div>

    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <!-- build:js scripts/vendor.js -->
    <!-- endbuild -->
    <!-- build:js scripts/main.js -->
    <script src="scripts/bundle.js"></script>
    <!-- endbuild -->
  </body>
</html>
